{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
 
<!-- Large Product Detail -->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{% if product.image %}{{product.image.url}}{% else %} 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' {% endif %}" alt="..." />
            </div>
            <div class="col-md-6">
                
                <div class="small mb-1"> {{ product.category }} </div>
                
             
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <h2>
                    <a href="{{ product.category.get_absolute_url }}"></a> <!--this is just a link, but the name is missing-->
                </h2>
                <div class="fs-5 mb-5">
                    <!--<span class="text-decoration-line-through">$45.00</span>-->
                    
                   
                    
                                         
                   
                        <p class="price"><b>{{ cz_price }} Kč</b></p>
                        <p class="eur-price">€{{ eng_price }}  </p>
                        
                        
                        
                        <!--End of Intention to change currency-->
                    
               
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    
                    
                    
                    
                        <button type="submit" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                </svg>
                                {% trans "Koupit" %}
                            </button>
                    </a>
                    </form>
                 


                </div>
                <p class="lead">{{ product.description|linebreaks }}</p>
                <!-- lepsi ikony 
                    <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                        
                        
                        <text class="bi-cart-fill me-1"></text>
                        Do košíku
                    </form>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</section>




<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        {% if recommended_products %}
        <h2 class="fw-bolder mb-4">{% trans "Další produkty" %}</h2>
        
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            {% for p in recom_products %}
            <div class="col mb-5">
                <a href="{{ p.get_absolute_url }}">
                <div class="card h-100">
                    <!-- Sale badge
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
                    <!-- Product image-->
                    <img class="card-img-top mb-5 mb-md-0" src="{% if p.image %}{{p.image.url}}{% else %} 'https://dummyimage.com/450x300/dee2e6/6c757d.jpg' {% endif %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder"> {{ p.name }}</h5>
                            <!-- Product reviews
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>-->
                            <!-- Product price-->
                            {{ p.price }} Kč
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">{% trans "Detail" %}</a></div>
                    </div>
                </div>
                
            
            </div>
         
            {% endfor %}
        </a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}